= render "pages/_includes/hero"

%main.main
  .container
    .row
      .col-xs-12
        - flash.each do |key, value|
          .box-message{:class=>"box-message-#{key}"}
            .box-message-content
              %p #{value}
        -# %h3.section-title
        -#   %b 405
        -#   Jobs Found
        .item-listing
          -#     -@jobs.each do |listing|
          -#       .listing
          -#         .medium-6.column
          -#           <a href="/job/#{listing.slug}">#{listing.job_title}</a> @ #{listing.company}
          -#         .medium-6.column.text-right
          -#           #{listing.created_at}
          -@jobs.each do |listing|
            .list-item{:class=>listing.promoted ? 'list-item-featured' : ''}
              .list-item-main-info
                -if listing.promoted
                  %p.list-item-title-eyebrow Featured
                %p.list-item-title
                  %a{:href => "/job/#{listing.slug}"} #{listing.job_title}
                .list-item-meta
                  %a.list-item-tag.item-badge{:href => "/job/#{listing.slug}", :class=>listing.promoted ? 'job-type-part-time' : 'job-type-contract'} #{listing.company}
                  -# %span.list-item-company Alpha, Inc
              .list-item-secondary-info
                %p.list-item-location HQ: #{listing.location || "Not Specified"}
                %time.list-item-time{:datetime => listing.created_at.strftime("%Y-%m-%d")}
                  Added on #{listing.created_at.strftime("%B %d")}

          .list-item-secondary-wrap{:style=>@jobs.count == @per_page ?  "text-align:right;" : "text-align:left;"}
            - if @page-1 >= 1
              %a.btn.btn-round.btn-white.btn-transparent{:href => "#{@page-1==1 ? "/" : "?page="+(@page-1).to_s}", :style=>@jobs.count == @per_page ? "float:left;" : "" }
                %i.fa.fa-chevron-left
                Last Page
            - if @jobs.count == @per_page
              %a.btn.btn-round.btn-white.btn-transparent{:href => "?page=#{@page+1}"}
                Next Page
                %i.fa.fa-chevron-right
-# .list-item.list-item-callout
-#   .list-item-main-info
-#     %p.list-item-title Create a job alert
-#     .list-item-meta
-#       %span.list-item-company Get new jobs like these by email
-#   .list-item-secondary-info
-#     %a.btn.btn-round.btn-white.btn-transparent{:href => "index.html#"} Activate Alert

-# %section{:class=>"job-list"}
-#   .row
-#     -@jobs.each do |listing|
-#       .listing
-#         .medium-6.column
-#           <a href="/job/#{listing.slug}">#{listing.job_title}</a> @ #{listing.company}
-#         .medium-6.column.text-right
-#           #{listing.created_at}
