- avail_content = @page
- suffix = field('Page Title Suffix')
- suffix = field('Default Meta Tag')
- meta_title = @seo ? @seo.meta_title : (avail_content ? avail_content.title + " " + suffix : "")
- meta_desc = @seo ? @seo.meta_desc : ""
- meta_additional = @seo ? @seo.meta_additional : ""

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title=@seo_title || meta_title
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => meta_desc, :name => "description"}/
    = meta_additional.html_safe
    = field('Global Meta')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98839148-2', 'auto');
      ga('send', 'pageview');

  %body
    #page.mm-page.mm-slideout
      = render "pages/_includes/header"
      = yield

      = render "pages/_includes/footer"

    = render "pages/_includes/modals"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    #mm-blocker.mm-slideout
